footer {
    background-color: green;
    position: relative;
    bottom: -50px;
}


.footer-contacts img {
    height: 2em;
    width:auto;
    margin: 1em 0.3em;
    padding:0;
}

.footer-contacts p {
 margin:0;
 padding: 0;
}