#projects {
    background-color: aquamarine;
    height:auto;
    padding: 2em 0;
}

#projects h2 {
    margin-top:0;
}

#project-container {

}

.project {
    display:block;
    margin: 1em 0;
}


.project img{
    height: 4em;
    width: auto;
    display: inline;
}

.project h3 {
    display: inline;
    margin: auto 3em;
}

